*,
::before,
::after {
  box-sizing: border-box;
}

.navMenu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 600px;
  color: $DarkGrayishBlue;

  & li {
    padding: 4px;
    cursor: pointer;

    // &:hover {
    //   font-weight: 700;
    //   transition: all 0.3s ease-in;
    // }
  }
}

.leftNavIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.rightNavIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin-left: 16px;

  & img:last-child {
    cursor: pointer;
  }
}

.topLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid lighten($GrayishBlue, 20);
  padding-bottom: 8px;
  margin-bottom: 32px;
  width: 100%;

  .mobileMenu {
    display: none;
  }
}

.pageArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 90vh;
  width: 100%;
}

.leftPageArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  margin-right: 64px;
  width: 50%;
}

.productImage {
  margin-bottom: 20px;
  width: 450px;
  height: 450px;

  & img {
    border-radius: 16px;
    width: 100%;
    height: auto;
  }
}

.thumbnailImage {
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }

  & .border {
    outline: 2.5px solid $Orange;
    border-radius: 8px;
  }

  & img {
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: auto;

    &:hover {
      opacity: 0.3;
    }
  }
}

.rightPageArea {
  width: 50%;
  margin: 32px 64px;

  & h4 {
    color: $Orange;
    letter-spacing: 2px;
  }

  & h1 {
    width: 70%;
  }
  & p:nth-child(3) {
    font-size: 16px;
    //width: 400px;
    width: 70%;
  }
}

.productPrice {
  width: 30%;

  & .originalPrice {
    text-decoration: line-through;
    color: lighten($DarkGrayishBlue, 10);
    opacity: 0.5;
    padding: 0;
    margin: 0;
  }
}

.newPriceCalc {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  line-height: 0.5px;
  position: relative;

  & .newPrice b {
    //margin-right: 32px;
    font-size: 2rem;
  }

  & .discount {
    background: $PaleOrange;
    color: $Orange;
    font-weight: 700;
    //width: 50%;
    padding: 10px 6px;
    border-radius: 4px;
    position: absolute;
    top: -5px;
    left: 140px;
  }
}

.numberToCart {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & .numberToCartOnly {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & :nth-child(3) {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

  & button {
    @extend %btn;
    background-color: lighten($GrayishBlue, 20);
  }

  & :nth-child(1) {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

  & p {
    padding: 7.8px 12px 8.8px 12px;
    margin: 0;
    font-weight: 700;
    background: lighten($GrayishBlue, 20);
  }
}

.moveToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  padding: 4px 16px;
  font-size: 12px;
  background: $Orange;
  border-radius: 8px;
  width: 35%;
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: 0.5;
  }

  & span {
    width: 22px;
    height: auto;
    color: $White;

    & > * {
      width: 100%;
    }
  }

  & p {
    background: transparent;
    color: $White;
  }
}

//Cart styles
.cartContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & img:first-of-type {
    border-radius: 4px;
  }

  & img:last-of-type {
    cursor: pointer;
  }
}

.checkout {
  display: block;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  padding: 4px 16px;
  font-size: 12px;
  background: $Orange;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  color: $White;
  font-weight: 700;
  margin-top: 24px;
  border: none;
}

.product-price-description {
  align-self: flex-start;
  line-height: 0.5rem;
  margin-top: -15px;

  & span b {
    color: $Black;
  }

  & > * {
    margin: 8px;
    padding: 8px;
    color: $DarkGrayishBlue;
  }
}
