@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navMenu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 600px;
  color: #68707d;
}

.navMenu li {
  padding: 4px;
  cursor: pointer;
}

.leftNavIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
}

.rightNavIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  margin-left: 16px;
}

.rightNavIcons img:last-child {
  cursor: pointer;
}

.topLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #f0f2f4;
  padding-bottom: 8px;
  margin-bottom: 32px;
  width: 100%;
}

.topLayout .mobileMenu {
  display: none;
}

.pageArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 90vh;
  width: 100%;
}

.leftPageArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-right: 64px;
  width: 50%;
}

.productImage {
  margin-bottom: 20px;
  width: 450px;
  height: 450px;
}

.productImage img {
  border-radius: 16px;
  width: 100%;
  height: auto;
}

.thumbnailImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumbnail {
  margin-right: 16px;
}

.thumbnail:last-child {
  margin-right: 0;
}

.thumbnail .border {
  outline: 2.5px solid #ff7d1a;
  border-radius: 8px;
}

.thumbnail img {
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  height: auto;
}

.thumbnail img:hover {
  opacity: 0.3;
}

.rightPageArea {
  width: 50%;
  margin: 32px 64px;
}

.rightPageArea h4 {
  color: #ff7d1a;
  letter-spacing: 2px;
}

.rightPageArea h1 {
  width: 70%;
}

.rightPageArea p:nth-child(3) {
  font-size: 16px;
  width: 70%;
}

.productPrice {
  width: 30%;
}

.productPrice .originalPrice {
  text-decoration: line-through;
  color: #828997;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.newPriceCalc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  line-height: 0.5px;
  position: relative;
}

.newPriceCalc .newPrice b {
  font-size: 2rem;
}

.newPriceCalc .discount {
  background: #ffede0;
  color: #ff7d1a;
  font-weight: 700;
  padding: 10px 6px;
  border-radius: 4px;
  position: absolute;
  top: -5px;
  left: 140px;
}

.numberToCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numberToCart .numberToCartOnly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numberToCart :nth-child(3) {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.numberToCart button {
  background-color: #f0f2f4;
}

.numberToCart :nth-child(1) {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.numberToCart p {
  padding: 7.8px 12px 8.8px 12px;
  margin: 0;
  font-weight: 700;
  background: #f0f2f4;
}

.moveToCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  padding: 4px 16px;
  font-size: 12px;
  background: #ff7d1a;
  border-radius: 8px;
  width: 35%;
  cursor: pointer;
  outline: none;
}

.moveToCart:hover {
  opacity: 0.5;
}

.moveToCart span {
  width: 22px;
  height: auto;
  color: white;
}

.moveToCart span > * {
  width: 100%;
}

.moveToCart p {
  background: transparent;
  color: white;
}

.cartContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cartContent img:first-of-type {
  border-radius: 4px;
}

.cartContent img:last-of-type {
  cursor: pointer;
}

.checkout {
  display: block;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  padding: 4px 16px;
  font-size: 12px;
  background: #ff7d1a;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  color: white;
  font-weight: 700;
  margin-top: 24px;
  border: none;
}

.product-price-description {
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 0.5rem;
  margin-top: -15px;
}

.product-price-description span b {
  color: black;
}

.product-price-description > * {
  margin: 8px;
  padding: 8px;
  color: #68707d;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  font-family: inherit;
  padding: 16px;
  height: 90vh;
  max-width: 1440px;
}

@media (max-width: 920px) {
  .container {
    padding: 8px;
    margin: 12px 48px 0 0;
  }
  .topLayout {
    border-bottom: none;
    padding-bottom: 4px;
    margin-bottom: 16px;
    font-size: 8px;
    height: 8px;
    margin-left: 26px;
  }
  .topLayout .mobileMenu {
    display: block;
    margin-left: 4px;
    margin-right: 12px;
  }
  .leftNavIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding: 4px;
  }
  .rightNavIcons {
    width: 20%;
  }
  .rightNavIcons img:last-child {
    margin-left: 8px;
    width: 25px;
    height: 25px;
  }
  .navMenu {
    display: none;
  }
  .pageArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .leftPageArea {
    margin: 8px 0 0 8px;
    padding: 0;
    height: auto;
  }
  .productImage {
    width: 85vw;
    height: auto;
    padding: 0;
    margin-left: 30%;
  }
  .productImage img {
    border-radius: 0;
    height: 50vh;
  }
  .thumbnailImage {
    display: none;
  }
  .rightPageArea {
    padding: 0;
    margin: 0;
    margin-left: 15%;
    width: 80vw;
  }
  .rightPageArea h4 {
    margin: 0;
    letter-spacing: 1.5px;
    font-size: 0.7rem;
    line-height: 0.5px;
  }
  .rightPageArea h1 {
    width: 90%;
    font-size: 1.3rem;
    margin: 12px 0;
  }
  .rightPageArea p:nth-child(3) {
    width: 90%;
    font-size: 0.8rem;
  }
  .productPrice {
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .productPrice .originalPrice {
    text-decoration: line-through;
    color: #828997;
    opacity: 0.5;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
  }
  .newPriceCalc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    line-height: 0.5px;
    position: relative;
  }
  .newPriceCalc .newPrice b {
    font-size: 1.5rem;
  }
  .newPriceCalc .discount {
    background: #ffede0;
    color: #ff7d1a;
    font-weight: 700;
    font-size: 0.85rem;
    padding: 10px 6px;
    border-radius: 4px;
    position: absolute;
    top: -8px;
    left: 100px;
  }
  .addToCart {
    height: 80px;
    margin-top: -24px;
  }
  .numberToCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85vw;
    margin-left: -5%;
  }
  .numberToCart .numberToCartOnly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .numberToCart :nth-child(3) {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: 30vw;
  }
  .numberToCart :nth-child(3) svg {
    position: relative;
    right: -21vw;
    top: 2px;
  }
  .numberToCart button {
    background-color: #f0f2f4;
  }
  .numberToCart :nth-child(1) {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 30vw;
  }
  .numberToCart p {
    padding: 7.8px 32px 8.8px 32px;
    margin: 0;
    font-weight: 700;
    background: #f0f2f4;
  }
  .moveToCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 4px;
    padding: 6px 0;
    font-size: 10px;
    background: #ff7d1a;
    border-radius: 8px;
    width: 75vw;
    cursor: pointer;
    outline: none;
    margin-top: -16px;
  }
  .moveToCart:hover {
    opacity: 0.5;
  }
  .moveToCart span {
    width: 22px;
    height: auto;
    color: white;
  }
  .moveToCart span > * {
    height: 20px;
    width: auto;
    margin-left: 36px;
  }
  .moveToCart p {
    background: transparent;
    color: white;
    margin-right: 36px;
    margin-left: -76px;
    letter-spacing: 1px;
  }
  .previous.responsive {
    display: block;
    width: 2rem;
    height: 2rem;
    top: 180px;
    left: 40px;
  }
  .next.responsive {
    display: block;
    width: 2rem;
    height: 2rem;
    top: 180px;
    right: 45px;
  }
}

/*
@media (max-width: 400px) {
  .rightNavDropdown {
    display: inline-block;
    position: relative;

    &:hover .rightNavDropdownContent {
      display: block;
    }

    &:hover .rightNavDropdownTarget {
      padding-bottom: 24px;
      transition: all 0.3s linear;
    }
  }

  .rightNavDropdownContent {
    background-color: #f4f4f4;
    display: none;
    z-index: 1;
    min-width: 300px;
    position: absolute;
    top: 80px;
    left: -140px;
    min-height: 200px;
    border-radius: 12px;
    box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.3);

    & .rightNavDropdownBar {
      background-color: $GrayishBlue;
      width: inherit;
      height: 2px;
      margin-bottom: 20px;
    }
  }

  .cartContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

*/
.numberToCart button {
  display: inline-block;
  padding: 11px 12px;
  margin: 32px 0;
  cursor: pointer;
  color: #ff7d1a;
  outline: none;
  border: none;
  width: 40px;
}

.numberToCart button :hover {
  outline: none;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown:hover .contentBar {
  display: block;
}

.dropdown:hover .dropdownTarget {
  font-weight: 700;
  padding: 8px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.dropdownContent {
  display: block;
}

.dropdownContent .contentBar {
  background-color: #ff7d1a;
  height: 4px;
  display: none;
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 58px;
  left: 0;
}

.rightNavDropdown {
  display: inline-block;
  position: relative;
}

.rightNavDropdown:hover .rightNavDropdownContent {
  display: block;
}

.rightNavDropdown:hover .rightNavDropdownTarget {
  padding-bottom: 24px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.rightNavDropdownContent {
  background-color: #f4f4f4;
  display: none;
  z-index: 1;
  min-width: 300px;
  position: absolute;
  top: 40px;
  left: -140px;
  min-height: 200px;
  border-radius: 12px;
  -webkit-box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.3);
          box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.3);
}

.rightNavDropdownContent .rightNavDropdownBar {
  background-color: #b6bcc8;
  width: inherit;
  height: 2px;
  margin-bottom: 20px;
}

.cartContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartProductNumber {
  display: none;
  position: absolute;
  height: 10px;
  width: 17px;
  border-radius: 50%;
  background-color: #ff7d1a;
  right: -2px;
  top: -2px;
}

.cartProductNumber.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartProductNumber.show .productNumberCount {
  color: white;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 5;
}

.modalWindow {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 5;
  background-color: transparent;
  pointer-events: auto;
  width: 60vw;
  opacity: 0.95;
}

.modalClose {
  position: absolute;
  top: -40px;
  right: 49%;
  margin: 6px;
  cursor: pointer;
  color: #ff7d1a;
  width: 1.6rem;
  height: 1.6rem;
}

.modalClose:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #c7c7c7;
}

.previous {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: 500;
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.85);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 230px;
  left: 0;
  display: none;
}

.previous.modal {
  display: block;
}

.next {
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: 500;
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.85);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 40%;
  right: 48%;
  display: none;
}

.next.modal {
  display: block;
}
/*# sourceMappingURL=index.css.map */